body{
	background-color:#ffe6ff;
}

form{
	 font-weight: bold;
}

/*.carousel-inner img {
      width: 100%;
      heigth:10px;
       border: 5px solid red;
    }*/

img{
  margin-left:10%;
  width: 80%;
  height: 200px;
  max-height: 200px;
   border: 1px solid red;
  border-radius: 2%;
}

